1 24 {
"<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>"
"<assembly xmlns=\"urn:schemas-microsoft-com:asm.v1\" manifestVersion=\"1.0\">"
  "<assemblyIdentity type=\"win32\" name=\"CompanyName.ProductName.MyProgram\" version=\"0.0.0.0\" processorArchitecture=\"*\"/>"
  "<dependency>"
    "<dependentAssembly>"
      "<assemblyIdentity type=\"win32\" name=\"Microsoft.Windows.Common-Controls\" version=\"6.0.0.0\" publicKeyToken=\"6595b64144ccf1df\" language=\"*\" processorArchitecture=\"*\"/>"
    "</dependentAssembly>"
  "</dependency>"
  "<trustInfo xmlns=\"urn:schemas-microsoft-com:asm.v3\">"
    "<security>"
      "<requestedPrivileges>"
        "<requestedExecutionLevel level=\"asInvoker\" uiAccess=\"false\"/>"
        "</requestedPrivileges>"
    "</security>"
  "</trustInfo>"
"</assembly>"
}

1 icon "res\appmain.ico"

// #include "uDlgIDs.pas"

#define IDCTL_LABEL_HINT    101
#define IDCTL_PROGRESSBAR   102
#define IDPAUSE             103
#define IDCTL_LABEL_SUBHINT 105


#define DLG_FONT_HEIGHT  8
#define DLG_BTN_WIDTH   50
#define DLG_BTN_HEIGHT  14

100 DIALOGEX 0, 0, 275, 85, 0
CAPTION "AqSmallApp"
CLASS "Sda.Dialog"
STYLE DS_SETFONT | DS_3DLOOK | DS_FIXEDSYS | WS_DLGFRAME | WS_SYSMENU |
  WS_CLIPSIBLINGS | WS_CLIPCHILDREN | WS_MINIMIZEBOX | WS_POPUP
EXSTYLE WS_EX_CONTROLPARENT | WS_EX_DLGMODALFRAME
FONT DLG_FONT_HEIGHT, "MS Shell Dlg", 0
{
  LTEXT "Now this program is updating some files. Please wait for completion.", IDCTL_LABEL_HINT, 5, 5, 265, DLG_FONT_HEIGHT * 3
  LTEXT "Connecting to the server...", IDCTL_LABEL_SUBHINT, 5, DLG_FONT_HEIGHT * 3 + 7, 265, DLG_FONT_HEIGHT
  CONTROL "", IDCTL_PROGRESSBAR, "msctls_progress32", WS_VISIBLE | WS_CHILDWINDOW, 5, DLG_FONT_HEIGHT * 4 + 9, 265, 10
  PUSHBUTTON "Suspend", IDPAUSE, 165, DLG_FONT_HEIGHT * 4 + 22, DLG_BTN_WIDTH, DLG_BTN_HEIGHT
  DEFPUSHBUTTON "&Cancel", IDCANCEL, 220, DLG_FONT_HEIGHT * 4 + 22, DLG_BTN_WIDTH, DLG_BTN_HEIGHT
  LTEXT "Copyright (c) Levko Kravets", 0, 5, 72, 265, DLG_FONT_HEIGHT
  //CONTROL "", -1, "STATIC", SS_ETCHEDHORZ, 5, 55, 265, 1
  //CONTROL "", -1, "Sda.Test", WS_VISIBLE | WS_CHILDWINDOW, 272, 2, 100, 60
}

1 VERSIONINFO
FILEVERSION 1, 0, 0, 1
PRODUCTVERSION 1, 0, 0, 3
FILEOS VOS_NT
FILETYPE VFT_APP
FILESUBTYPE 0
FILEFLAGSMASK  	VS_FFI_FILEFLAGSMASK
FILEFLAGS      	VS_FF_PRIVATEBUILD | VS_FF_SPECIALBUILD | VS_FF_PRERELEASE | VS_FF_DEBUG
{
  BLOCK "StringFileInfo"
  {
    BLOCK "040904E4"
    {
      VALUE "Comments", "All rights reserved\000\000"
      VALUE "CompanyName", "\000\000"
      VALUE "FileDescription", "Small Application written on Delphi\000"
      VALUE "FileVersion", "1.0.0.1\000\000"
      VALUE "InternalName", "small.exe\000"
      VALUE "LegalCopyright", "Copyright (c) Levko Kravets\000\000"
      VALUE "LegalTrademarks", "Levko Kravets\000\000"
      VALUE "OriginalFilename", "small.exe\000"
      VALUE "ProductName", "Small Application Example\000\000"
      VALUE "ProductVersion", "1.0.0.3\000\000"

      VALUE "PrivateBuild", "Private Build\000\000"
      VALUE "SpecialBuild", "Special Build\000\000"
    }
  }
}

